button {
  background-color: #fff;
  color: #040a1c;
  line-height: 12px;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 18px;
  border: 2px solid #ca3c3f;
  padding: 20px 30px;
  //   transform-origin: 50% 50%;
  opacity: 1;
  //   transform: translate(0px, 55.2px);
  visibility: visible;
  transition-duration: 300ms;
  cursor: pointer;
}

button:hover {
  background-color: #ca3c3f;
  color: #fff;
}
.secondaryBtn {
  background-color: #ca3c3f;
  color: #fff;
  line-height: 12px;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 18px;
  border: 2px solid #ca3c3f;
  padding: 20px 30px;
  //   transform-origin: 50% 50%;
  opacity: 1;
  //   transform: translate(0px, 55.2px);
  visibility: visible;
  transition-duration: 300ms;
  cursor: pointer;
}

.secondaryBtn:hover {
  background-color: #fff;
  color: #000;
}
.countBtn {
  border: none;
  padding: 20px;
}
.countBtn:hover {
  border: none;
  background-color: #fff;
  color: #040a1c;
}
